<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />

<body>

    <div th:replace="common/header :: navbar">
    </div>

    <div class="container" id="rc-body-container">

		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<span>User Account</span>
				</h2>
			</div>
			<div class="col-xs-4">
				<img src="/images/bookstore_logo.jpg" class="img-responsive" />
			</div>
		</div>
		
			<div class="row" style="margin-top: 100px;">
			<div class="col-xs-9">
			
					<ul class="nav nav-tabs">
					<li><a href="#tab-1" data-toggle="tab"><span style="color: red;">Create
								new account</span></a></li>
					<li><a href="#tab-2" data-toggle="tab"><span style="color: red;">Log
								in</span></a></li>
					<li><a href="#tab-3" data-toggle="tab"><span style="color: red;">Forget
								Password</span></a></li>
				</ul>
				
				<div class="tab-content">
				<div class="tab-pane fade" id="tab-1">
					<div class="panel-group">
						<div class="panel panel-default" style="border: none;">
							<div class="panel-body" style="background-color: #ededed; margin-top: 20px;">
								<form>
									<div class="form-group">
										<label for="newUsername">* Username: </label>
										<input required="required" type="text" class="form-control" 
										id="newUsername" name="username" />
										<p style="color: #828282">Enter your username here.</p>										
									</div>
									<div class="form-group">
										<label for="email">* Email Addresss: </label>
										<input required="required" type="text" class="form-control" 
										id="email" name="email" />
										<p style="color: #828282">Enter your valid email address. (Will be used for validations and notifications)</p>		
									</div>
									<button type="submit" class="btn btn-primary">Create new account</button>									
								</form>
							</div>
						</div>
					</div>
				</div>	
				
					<div class="tab-pane fade" id="tab-2">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<form>
										<div class="form-group">
											<label for="username">* Username: </label> <input
												required="required" type="text" class="form-control"
												id="username" name="username" />
											<p style="color: #828282">Enter your username here.</p>
										</div>

										<div class="form-group">
											<label for="password">* Password: </label> <input
												required="required" type="password" class="form-control"
												id="password" name="password" />
											<p style="color: #828282">Enter the password that
												accompanies your username</p>
										</div>

										<button type="submit" class="btn btn-primary">Log in</button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<div class="tab-pane fade" id="tab-3">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<form>
										<div class="form-group">
											<label for="recoverEmail">* Your Email: </label> <input
												required="required" type="text" class="form-control"
												id="recoverEmail" name="email" />
											<p style="color: #828282">Enter your registered email
												address here.</p>
										</div>
										<button type="submit" class="btn btn-primary">Submit</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				
					
				</div>
			
			</div>
			</div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <div th:replace="common/header :: body-bottom-scripts"></div>
</body>

</html>