<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />

<body>

    <div th:replace="common/header :: navbar">
    </div>

    <div class="container" id="rc-body-container">

		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
<!-- 				At this point we know user has logged in and user attribute is set to the logged in user  -->
<!-- 				i.e. we have user entity in the current context  -->
					<span th:text="${#strings.toUpperCase{user.username}}">User Account</span>
				</h2>
			</div>
			<div class="col-xs-4">
				<img src="/images/bookstore_logo.jpg" class="img-responsive" />
			</div>
		</div>
		
			<div class="row" style="margin-top: 100px;">
			<div class="col-xs-9">
			
					<ul class="nav nav-tabs">
					<li th:classappend="${classActiveEdit}? 'active'"><a href="#tab-1" data-toggle="tab"><span style="color: red;">
								Edit</span></a></li>
					<li th:classappend="${classActiveOrder}? 'active'"><a href="#tab-2" data-toggle="tab"><span style="color: red;">
					Orders</span></a></li>
					<li th:classappend="${classActiveBilling}? 'active'"><a href="#tab-3" data-toggle="tab"><span style="color: red;">
					Billing</span></a></li>
					<li th:classappend="${classActiveShipping}? 'active'"><a href="#tab-4" data-toggle="tab"><span style="color: red;">
					Shipping</span></a></li>
				</ul>
				
				<div class="tab-content">
				<div class="tab-pane fade" id="tab-1" th:classappend="${classActiveEdit}? 'in active'">
					<div class="panel-group">
						<div class="panel panel-default" style="border: none;">
							<div class="panel-body" style="background-color: #ededed; margin-top: 20px;">
								<form th:action="@{/updateUserInfo}" method="post">
								<input type="hidden" name="id" th:value="${user.id}" />
								
								<div class="bg-info" th:if="${updateUserInfo}">User Info Updated </div>
								<div class="form-group">
									<div class="row">
										<div class="col-xs-6">
											<label for="firstName">First Name </label>
											<input type="text" class="form-control" id="firstName" name="firstName" th:value = "${user.firstName}" />											
										</div>
										<div class="col-xs-6">
											<label for="lastName">Last Name </label>
											<input type="text" class="form-control" id="lastName" name="lastName" th:value = "${user.lastName}" />											
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="username">Username </label>
									<input type="text" class="form-control" id="username" name="username" th:value = "${user.username}" />
								</div>
								<div class="form-group">
									<label for="currentPassword">Current Password </label>
									<input type="text" class="form-control" id="currentPassword" name="currentPassword" th:value = "${currentPassword}" />
								</div>
								<p style="color:#828282">Enter your current password to change email or password</p>
								<div class="form-group">
									<label for="email">* Email </label>
									<input type="text" class="form-control" id="email" name="email" th:value = "${user.email}" />
								</div>
								<p style="color:#828282">A valid email address for communication</p>
								<div class="form-group">
									<label for="txtNewPassword">Password </label>
									<input type="password" class="form-control" id="txtNewPassword" name="newPassword" />
								</div>
								<div class="form-group">
									<label for="txtConfirmPassword">Confirm Password </label>
									<input type="password" class="form-control" id="txtConfirmPassword" />
								</div>
								<button type="submit" class="btn btn-primary">Create new account</button>									
								</form>
							</div>
						</div>
					</div>
				</div>	

					
				</div>
			
			</div>
			</div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <div th:replace="common/header :: body-bottom-scripts"></div>
</body>

</html>